
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: rgb(247, 247, 247);
}
.subsection:hover *{
        opacity: 0.8 !important;
        transition: all .5s !important;
        justify-content: flex-end !important;
        align-items: center !important;
        width: 100% !important;
        height: 100% !important;
        color: rgb(238, 0, 0);
        font-size: 25px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
input {
    /* border: 1px solid rgba(0,0,0,.125) !important; */
    padding: 8px;
    padding-left: 18px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
}
li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
}
p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: italic;
}
.fa, .fas {
    text-align: end;
}